
@font-face {
  font-family: 'almoni-dl-aaa-700';
  src: url('almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),  
  	   url('almoni-dl-aaa-700.woff') format('woff'), 
	   url('almoni-dl-aaa-700.ttf')  format('truetype'), 
	   url('almoni-dl-aaa-700.svg#.') format('svg');
  font-weight: normal;
  font-style: normal;
}
