
@font-face {
  font-family: 'OpenSansHebrew-Regular';
  src: url('OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),  url('OpenSansHebrew-Regular.woff') format('woff'), url('OpenSansHebrew-Regular.ttf')  format('truetype'), url('OpenSansHebrew-Regular.svg#OpenSansHebrew-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
